/CloudCheck.java
/CloudCheckAccessPointInfo.java
/CloudCheckBssid.java
/CloudCheckDetectionResult.java
/CloudCheckRecommendation.java
/CloudCheckSsid.java
/CloudCheckWifiRecommendationCodes.java
/FrpiApDataRecord.java
/FrpiApRecommendationsData.java
/FrpiApRequest.java
/FrpiBroadbandConnectivityData.java
/FrpiBroadbandLatencyData.java
/FrpiBroadbandLatencySummaryData.java
/FrpiBroadbandRecommendationsData.java
/FrpiBroadbandThroughputData.java
/FrpiBroadbandThroughputSummaryData.java
/FrpiBroadbandUsageData.java
/FrpiCpuData.java
/FrpiCpuStatsAverageData.java
/FrpiDataRecord.java
/FrpiFreeMemoryData.java
/FrpiHRBroadbandConnectivity.java
/FrpiHRBroadbandLatencySummery.java
/FrpiHRBroadbandThroughput.java
/FrpiHRBroadbandUsage.java
/FrpiHRInterfaceInterference.java
/FrpiHRInterfaceNoise.java
/FrpiHRInterfaceTraffic.java
/FrpiHRStationThroughput.java
/FrpiHRStationTraffic.java
/FrpiHRbroadbandlatency.java
/FrpiInterfaceChannelData.java
/FrpiInterfaceConnectivityDetectionData.java
/FrpiInterfaceCoverageDetectionData.java
/FrpiInterfaceInterferenceData.java
/FrpiInterfaceLatencyDetectionData.java
/FrpiInterfaceNoiseData.java
/FrpiInterfaceRecommendationsData.java
/FrpiInterfaceReturnData.java
/FrpiInterfaceSettingsData.java
/FrpiInterfaceThroughputData.java
/FrpiInterfaceThroughputDetectionData.java
/FrpiInterfaceTrafficData.java
/FrpiPowerCycleData.java
/FrpiRequest.java
/FrpiStationRecommendationDataRecord.java
/FrpiStationRecommendationRequest.java
/FrpiStationRequest.java
/FrpiStationRssiDataRecord.java
/FrpiStationRssiRequest.java
/FrpiStationThroughputDataRecord.java
/FrpiStationThroughputRequest.java
/FrpiStationTrafficDataRecord.java
/FrpiStationTrafficRequest.java
/FrpiTimeStampData.java
/RetrieveResourceConnectivityApInfoDataRecord.java
/RetrieveResourceConnectivityApInfoEntity.java
/RetrieveResourceConnectivityApInfoRequest.java
/RetrieveResourceConnectivityStationInfoDataRecord.java
/RetrieveResourceConnectivityStationInfoEntity.java
/RetrieveResourceConnectivityStationInfoRequest.java
/SAMWRequest.java
/StationRssi.java
/StationThroughput.java
/StationTraffic.java
/TypesFactory.java
/TypesPackage.java
/FrpiStationRecommendationEntity.java
/FrpiApEntity.java
/FrpiResult.java
/FrpiStationRssiEntity.java
/FrpiStationThroughputEntity.java
/FrpiStationTrafficEntity.java
